USE [master]
GO
/****** Object:  Database [dbfophcrtvsproject]    Script Date: 9/19/2025 5:34:40 PM ******/
CREATE DATABASE [dbfophcrtvsproject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbfophcrtvsproject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbfophcrtvsproject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbfophcrtvsproject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbfophcrtvsproject_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbfophcrtvsproject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbfophcrtvsproject]
GO
/****** Object:  Table [dbo].[active_sessions]    Script Date: 9/19/2025 5:34:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[active_sessions](
	[session_id] [varchar](255) NOT NULL,
	[user_id] [int] NOT NULL,
	[last_activity] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rts_forms]    Script Date: 9/19/2025 5:34:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rts_forms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[control_no] [nvarchar](100) NOT NULL,
	[requestor_id] [int] NOT NULL,
	[requestor_name] [nvarchar](255) NOT NULL,
	[requestor_department] [nvarchar](255) NULL,
	[material_type] [nvarchar](255) NULL,
	[material_status] [nvarchar](100) NULL,
	[judgement] [nvarchar](255) NULL,
	[details] [nvarchar](max) NULL,
	[return_date] [date] NULL,
	[department] [nvarchar](100) NULL,
	[model] [nvarchar](100) NULL,
	[sap_loc_code] [nvarchar](max) NULL,
	[prepared_by] [nvarchar](255) NULL,
	[checked_by] [nvarchar](255) NULL,
	[approved_by] [nvarchar](255) NULL,
	[noted_by] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[checked_status] [nvarchar](50) NULL,
	[approved_status] [nvarchar](50) NULL,
	[noted_status] [nvarchar](50) NULL,
	[checked_by_id] [int] NULL,
	[approved_by_id] [int] NULL,
	[noted_by_id] [int] NULL,
	[checked_at] [datetime] NULL,
	[approved_at] [datetime] NULL,
	[noted_at] [datetime] NULL,
	[remark] [nvarchar](max) NULL,
	[prepared_by_signature_image] [varbinary](max) NULL,
	[checked_by_signature_image] [varbinary](max) NULL,
	[approved_by_signature_image] [varbinary](max) NULL,
	[noted_by_signature_image] [varbinary](max) NULL,
	[disapproval_reason] [nvarchar](255) NULL,
	[disapproved_by_role] [nvarchar](50) NULL,
	[resubmission_count] [int] NULL,
	[original_material_status_selection] [nvarchar](255) NULL,
	[resubmitted_at] [datetime] NULL,
	[sap_from_location] [nvarchar](50) NULL,
	[sap_to_location] [nvarchar](50) NULL,
	[sap_from_description] [nvarchar](255) NULL,
	[sap_to_description] [nvarchar](255) NULL,
	[sap_from_department] [nvarchar](100) NULL,
	[sap_to_department] [nvarchar](100) NULL,
	[workflow_status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rts_materials]    Script Date: 9/19/2025 5:34:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rts_materials](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rts_form_id] [int] NOT NULL,
	[ref_no] [nvarchar](100) NULL,
	[sap_doc] [nvarchar](100) NULL,
	[invoice_no] [nvarchar](100) NULL,
	[supplier] [nvarchar](255) NULL,
	[part_name] [nvarchar](255) NULL,
	[part_number] [nvarchar](100) NULL,
	[description] [nvarchar](255) NULL,
	[qty_returned] [int] NULL,
	[qty_received] [int] NULL,
	[amount] [float] NULL,
	[due_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rts_sequence]    Script Date: 9/19/2025 5:34:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rts_sequence](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[current_year] [int] NULL,
	[current_month] [int] NULL,
	[current_sequence] [int] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sap_loc_code]    Script Date: 9/19/2025 5:34:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sap_loc_code](
	[LocationCode] [varchar](10) NOT NULL,
	[LocationDescription] [varchar](50) NULL,
	[Department] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 9/19/2025 5:34:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[requestor_name] [nvarchar](100) NULL,
	[role] [varchar](255) NULL,
	[id_number] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[is_active] [bit] NULL,
	[department] [nvarchar](50) NULL,
	[category] [nvarchar](100) NULL,
	[e_signiture] [varbinary](max) NULL,
	[last_login] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_rts_forms_approval_status]    Script Date: 9/19/2025 5:34:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_rts_forms_approval_status] ON [dbo].[rts_forms]
(
	[checked_status] ASC,
	[approved_status] ASC,
	[noted_status] ASC
)
INCLUDE([id],[workflow_status]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_rts_forms_control_no]    Script Date: 9/19/2025 5:34:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_rts_forms_control_no] ON [dbo].[rts_forms]
(
	[control_no] ASC
)
INCLUDE([id],[requestor_id],[workflow_status]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_rts_forms_created_at]    Script Date: 9/19/2025 5:34:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_rts_forms_created_at] ON [dbo].[rts_forms]
(
	[created_at] DESC
)
INCLUDE([id],[control_no],[workflow_status]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_rts_forms_requestor_lookup]    Script Date: 9/19/2025 5:34:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_rts_forms_requestor_lookup] ON [dbo].[rts_forms]
(
	[requestor_id] ASC
)
INCLUDE([control_no],[created_at],[workflow_status]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_rts_forms_workflow_status]    Script Date: 9/19/2025 5:34:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_rts_forms_workflow_status] ON [dbo].[rts_forms]
(
	[workflow_status] ASC
)
INCLUDE([id],[control_no],[requestor_id],[created_at]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_rts_materials_form_id]    Script Date: 9/19/2025 5:34:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_rts_materials_form_id] ON [dbo].[rts_materials]
(
	[rts_form_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_users_role_active]    Script Date: 9/19/2025 5:34:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_users_role_active] ON [dbo].[users]
(
	[role] ASC,
	[is_active] ASC
)
INCLUDE([email]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[rts_forms] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[rts_forms] ADD  DEFAULT ((0)) FOR [resubmission_count]
GO
ALTER TABLE [dbo].[rts_forms] ADD  DEFAULT ('Pending') FOR [workflow_status]
GO
ALTER TABLE [dbo].[rts_sequence] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_role]  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[active_sessions]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[rts_materials]  WITH CHECK ADD FOREIGN KEY([rts_form_id])
REFERENCES [dbo].[rts_forms] ([id])
ON DELETE CASCADE
GO
USE [master]
GO
